@charset "utf-8";

/**
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */
html *,
::before,
::after {
  box-sizing: border-box;
}
/* フォント */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400; /* Noto Sans JPのレギュラーウェイトを指定 */
}
/* おもな太字タグのフォントウェイト設定 */
h1, h2, h3, h4, h5, h6, th, strong {
  font-weight: 700;
}
/* ベースのリンクカラー */
a {
  color: #f30;
}

/* レスポンシブイメージと画像下スペース防止 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;/* 画像下のスペースを消す */
}

/**
 * ***************************************
 * ヘッダー
 * ***************************************
 *
 * ヘッダーコンテナ
 */
.page-header {
  background: url(../img/header-topline.svg) repeat-x;
  border-bottom: 1px solid #d8d8d8;
}
@media (min-width: 768px) {
  .header-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1040px;
  }
}

/**
 * ---------------------------------------
 * ヘッダーモジュール
 */

/**
 * ***************************************
 * パンくずリスト
 * ***************************************
 *
 * パンくずリストコンテナ
 */
.breadcrumb {
  display: none;/* モバイルで非表示 */
}
@media (min-width: 768px) {
  /* PCだけスタイル適用 */
  .breadcrumb {
    display: block;/* display:noneの解除 */
    background: #efefef;
  }
  .bc-container {
    margin: 0 auto;
    padding: 12px 20px;
    max-width: 1040px;
  }
}

/**
 * ***************************************
 * ページ下部
 * ***************************************
 *
 * ページ下部コンテナ
 */
.page-bottom {
  background: url(../img/bottom-bg.svg);
}
.bottom-container {
  padding: 60px 4% 0 4%;
}
@media (min-width: 768px) {
  .bottom-container {
      margin: 0 auto;
      padding: 60px 20px 0 20px;
      max-width: 1040px;
  }
}

/**
 * ---------------------------------------
 * ページ下部モジュール
 */

/**
 * ***************************************
 * フッター
 * ***************************************
 *
 * フッターコンテナ
 */
.page-footer {
  background: #000;
}
.footer-container {
  padding: 60px 4%;
}
@media (min-width: 768px) {
  .footer-container {
      max-width: 1040px;
      margin: 0 auto;
      padding: 60px 20px;
  }
}

/**
 * ---------------------------------------
 * フッターモジュール
 */

/**
 * ***************************************
 * メインコンテナ
 * ***************************************
 */
/**
 * ***************************************
 * ［post.html］記事ページ - メインコンテナ
 * ***************************************
 */
.post .main-container {
  padding: 80px 4% 0 4%;
  background: url(../img/post-bg.svg) repeat-x;
  background-position: 0 10px;
}
@media (min-width: 768px) {
  .post .main-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 80px 20px 0 20px;
  }
}

/**
 * ---------------------------------------
 * ［post.html］記事ページ - モジュール
 */

/**
 * ---------------------------------------
 * ポストヘッダー
 */
.post-header {
  margin-bottom: 60px;
}
.post-header h1 {
  margin: 0 0 20px 0;/* h1のデフォルト設定オフ */
  font-size: 1.875rem;
  line-height: 1.5;
}

/**
 * ---------------------------------------
 * ポストコンテンツ
 */
.post-contents {
  margin: 0 0 60px 0;
}
@media (min-width: 768px) {
  .post-contents {
    max-width: 600px;
    margin: 0 auto 60px auto;
  }
}
/* post-contentsの1つ目の要素の上マージンを0にする */
.post-contents > *:first-child {
  margin-top: 0;
}
/* h2 */
.post-contents h2 {
  margin: 60px 0 30px 0;
  padding: 1rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.25rem;
}
/* p */
.post-contents p {
  margin: 30px 0;
  line-height: 1.9;
  text-align: justify;
}
/* p mark */
.post-contents mark {
  background: linear-gradient(transparent 50%,#ffff7c 50%);
}
/* リストの基本形 */
.list {
  margin: 30px 0;
}
.list li {
  margin-bottom: 1rem;
  line-height: 1.5;
}
/* キャプション付きの画像 */
.photo-caption {
  margin: 30px 0;
}
.photo-caption figcaption {
  margin-top: 5px;
  font-size: .75rem;
  color: #747474;
  text-align: center;
}
/* float */
.float-box {
  display: flow-root;
  margin: 30px 0;
}
.float-left {
  float:left;
  margin: 0 1rem 1rem 0;
  width: 40%;
}
.float-right {
  float:right;
  margin: 0 0 1rem 1rem;
  width: 40%;
}
.float-box p {
  margin: 0;
}

/**
 * ---------------------------------------
 * ポストフッター
 */
.post-footer {
  margin: 0 0 60px 0;
}
@media (min-width: 768px) {
  .post-footer {
    max-width: 600px;
    margin: 0 auto 60px auto;
  }
}
